// Breakpoints для адаптивности
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;

$orange: #f97316;

$logo-width: 6rem;
$logo-height: 4rem;

//point
$gap-preview-button: .4rem;
$point-width: 2rem;

//description
$descr-size: 4rem;
$descr-img-size: 5rem;

//footer
$social-width: 4rem;
$social-height: 4rem;

$num-of-slide: 5;

