/*---- NUMBER OF SLIDE CONFIGURATION ----*/

.carousel {
    max-width: 60em;
    margin: 1em auto;
    position: relative;

    @media (max-width: $tablet) {
        max-width: 100%;
        margin: 0.5em auto;
    }

    input {
        display: none;
    }

    &__inner {
        width: percentage($num-of-slide);
        line-height: 0;
        transform: translateZ(0);
        transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);

        &__img {
            display: block;
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 15px;

            @media (max-width: $tablet) {
                height: 400px;
            }

            @media (max-width: $mobile) {
                height: 240px;
                border-radius: 10px;
            }
        }
    }

    article {
        width: percentage(1/$num-of-slide);
        float: left;
        position: relative;

        img {
            width: 100%;
        }
    }

    /*---- SET UP CONTROL ----*/
    &__slider-prev-next-control {
        height: 50px;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        label {
            display: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            opacity: 0.7;

            @media (max-width: $mobile) {
                width: 30px;
                height: 30px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &__slider-dot-control {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;

        label {
            cursor: pointer;
            border-radius: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #bbb;
            transition: all 0.3s;

            @media (max-width: $mobile) {
                width: 8px;
                height: 8px;
                margin: 0 3px;
            }

            &:hover {
                background: #ccc;
                border-color: #777;
            }
        }
    }

    /* Info Box */
    &__info {
        position: absolute;
        font-style: italic;
        line-height: 20px;
        opacity: 0;
        color: #000;
        text-align: left;
        transition: all 1000ms ease-out 600ms;

        h3 {
            color: #fcfff4;
            margin: 0 0 5px;
            font-weight: normal;
            font-size: 1.5em;
            font-style: normal;
        }

        &.top-left {
            top: 30px;
            left: 30px;

             @media (max-width: $mobile) {
                top: 15px;
                left: 15px;
            }
        }

        &.top-right {
            top: 30px;
            right: 30px;

             @media (max-width: $mobile) {
                top: 15px;
                right: 15px;
            }
        }

        &.bottom-left {
            bottom: 30px;
            left: 30px;

            @media (max-width: $mobile) {
                bottom: 15px;
                left: 15px;
            }
        }

        &.bottom-right {
            bottom: 30px;
            right: 30px;

             @media (max-width: $mobile) {
                bottom: 15px;
                right: 15px;
            }
        }
    }

    /* Slider Styling */
    &__slider-wrapper {
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #666;
        background: #fff;
        background: #fcfff4;
        transform: translateZ(0);

         @media (max-width: $mobile) {
            border-radius: 3px;
        }
    }

    /*---- SET POSITION FOR SLIDE ----*/
    %bind-prev-next-button {
        text-decoration: inherit;
        margin: 0;
        line-height: 38px;
        font-size: 1.7em;
        display: block;
        color: $orange;
    }

    %bind-next-button {
        @extend %bind-prev-next-button;
        content: ">";
        padding-left: 15px;
    }

    %bind-next-label {
        display: block;
        float: right;
        margin-right: 5px;
    }

    %bind-prev-label {
        display: block;
        float: left;
        margin-left: 5px;
    }

    %bind-prev-button {
        @extend %bind-prev-next-button;
        content: "<";
        padding-left: 8px;
    }

    %bind-background-active-dot {
        background: $orange;
    }

    %bind-opacity-info {
        opacity: 1;
    }

    @for $i from 1 through $num-of-slide {
        #slide#{$i}:checked ~ &__slider-wrapper &__inner {
            margin-left: percentage(1 - $i);
        }

        #slide#{$i}:checked ~ &__slider-dot-control label:nth-child(#{$i}) {
            @extend %bind-background-active-dot;
        }

        #slide#{$i}:checked ~ &__slider-wrapper article:nth-child(#{$i}) &__info {
            @extend %bind-opacity-info;
        }
    }

    @for $i from 1 through ($num-of-slide - 1) {
        #slide#{$i}:checked ~ &__slider-prev-next-control label:nth-child(#{$i +1}) {
            @extend %bind-next-label;

            &::after {
                @extend %bind-next-button;
            }
        }
    }

    #slide#{$num-of-slide}:checked ~ &__slider-prev-next-control label:nth-child(1) {
        @extend %bind-next-label;

        &::after {
            @extend %bind-next-button;
        }
    }

    @for $i from 2 through $num-of-slide {
        #slide#{$i}:checked ~ &__slider-prev-next-control label:nth-child(#{$i - 1}) {
            @extend %bind-prev-label;

            &::after {
                @extend %bind-prev-button;
            }
        }
    }

    #slide#{1}:checked ~ &__slider-prev-next-control label:nth-child(#{$num-of-slide}) {
        @extend %bind-prev-label;

        &::after {
            @extend %bind-prev-button;
        }
    }

    /*---- TABLET ----*/
    @media only screen and (max-width: 850px) and (min-width: 450px) {
        &__slider-wrapper {
            border-radius: 0;
        }
    }

    /*---- MOBILE----*/
    @media only screen and (max-width: 450px) {
        &__slider-wrapper {
            border-radius: 0;
        }

        &__slider-wrapper &__info {
            opacity: 0;
        }
    }

    @media only screen and (min-width: 850px) {
        body {
            padding: 0 80px;
        }
    }
}
