@import "point";
@import "description";
@import "modal";

.showcase {
    &__container {
        position: relative;
        overflow: visible;
        perspective: 1200px;
        display: flex;
    }

    &__image {
        display: block;
        margin: auto;
        width: 70%;
        position: relative;
        filter: drop-shadow(0 0 0.1rem $orange);
        /* Tilt so back wheel (left) appears same size as front */

        animation-name: image_shadow_animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
    }

    &__description {

        &_wheel {
            @include description;
            top: 20%;
            left: 75%;
        }

        &_fitter {
            @include description;
            top: 30%;
            left: 65%;
        }

        &_adapter {
            @include description;
            top: -7%;
            left: 55%;
        }

        &_axis {
            @include description;
            top: 60%;
            left: 80%;
        }

        &_ring {
            @include description;
            top: 73%;
            left: 27%;
       }
    }

    &__point{

        &_ring {
            @include point;
            top: 77%;
            left: 43%;
            animation-delay: 6s;   

            &:hover ~ .showcase__description_ring {
                visibility: visible;
                opacity: 1;
                transform: translateX(.5rem);
                transition-delay: 0s;
            }

           
        }

        &_axis {
            @include point;
            top: 68%;
            left: 70%;
            animation-delay: 4s;

            &:hover ~ .showcase__description_axis {
                visibility: visible;
                opacity: 1;
                transform: translateX(.5rem);
                transition-delay: 0s;
            }
        }

        &_adapter {
            @include point;
            top: 18%;
            left: 65%;
            animation-delay: 2s;

            &:hover ~ .showcase__description_adapter {
                visibility: visible;
                opacity: 1;
                transform: translateX(.5rem);
                transition-delay: 0s;
            }
        }

        &_fitter {
            @include point;
            top: 17%;
            left: 69%;
            animation-delay: 2s;

            &:hover ~ .showcase__description_fitter {
                visibility: visible;
                opacity: 1;
                transform: translateX(.5rem);
                transition-delay: 0s;
            }
        }

        &_wheel {
            @include point;
            top: 6%;
            left: 72%;

            &:hover ~ .showcase__description_wheel {
                visibility: visible;
                opacity: 1;
                transform: translateX(.5rem);
                transition-delay: 0s;
            }
        }
    }

 
}
