.header {
    width: 90%;
    padding: .3rem;
    margin: 1rem auto;
    
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* From https://css.glass */
    //background: rgba(251, 140, 71, 0.19);
    background: #1f1818;
    background: linear-gradient(95deg, rgba(31, 24, 24, 0.53) 21%, rgba(249, 115, 22, 0.53) 80%);
    box-shadow: 0 4px 30px rgba(249, 115, 22, 0.3);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border-radius: 10px;
  //  border: 1px solid rgba(251, 140, 71, 0.01);

    &__logo {
        width: $logo-width;
        height: $logo-height;

        @media (max-width: $tablet) {
            width: calc($logo-width * 0.8);
            height: calc($logo-height * 0.8);
        }
        
        @media (max-width: $mobile) {
            width: calc($logo-width * 0.6);
            height: calc($logo-height * 0.6);
        }
    }

    &__shortcuts {
        display: flex;
        gap: 7rem;
        padding-right: 4rem;
        letter-spacing: 3px;
        font-family: "involve";

         @media (max-width: $large-desktop) {
            gap: 4rem;
            padding-right: 2rem;
        }
        
        @media (max-width: $tablet) {
            gap: 2rem;
            padding-right: 1rem;
            font-size: 0.9rem;
            letter-spacing: 2px;
        }
        
        @media (max-width: $mobile) {
            gap: 1rem;
            padding-right: 0.5rem;
            font-size: 0.7rem;
            letter-spacing: 1px;
        }
    }
}